
@media only screen and (min-width:1026px) {

/*---------  text animation  --------------*/

    .animated .rotate {
        -webkit-animation: rotate-in-ver 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: rotate-in-ver 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    @-webkit-keyframes rotate-in-ver {
        0% {
            -webkit-transform: rotateY(-360deg);
            transform: rotateY(-360deg);
            opacity: 0;
        }
        100% {
            -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
            opacity: 1;
        }
    }
    @keyframes rotate-in-ver {
        0% {
            -webkit-transform: rotateY(-360deg);
            transform: rotateY(-360deg);
            opacity: 0;
        }
        100% {
            -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
            opacity: 1;
        }
    }


/*---------  Slide - TOP  --------------*/
@keyframes slide-top {
    0% {
        -webkit-transform: translateY(-200px);
        transform: translateY(-200px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
.animated .hm-branch-box , .animated .hm-service-inner1 , .animated .ab-team-bx2 , .animated .src-servic-inner , .animated .cu-cont2 {
    -webkit-animation: slide-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/*---------  Slide - RIGHT  --------------*/
@keyframes slide-right {
    0% {
        -webkit-transform: translateX(300px);
        transform: translateX(300px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
.animated .hm-brch-ig1 , .animated .hm-finice2 , .animated .hm-lnws3 , .animated .ab-whow2 , .animated .ab-team-bx3 , .animated .fs-fininc2 , .animated .is-insrac2
, .animated .ib-investment2 , .animated .cu-cont3
{
    -webkit-animation: slide-right 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/*---------  Slide - LEFT  --------------*/
@keyframes slide-left {
    0% {
        -webkit-transform: translateX(-300px);
        transform: translateX(-300px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
.animated .hm-brch-ig2 , .hm-finice , .animated .hm-lnws1 , .animated .ab-tx1 , .animated .ab-team-bx1 , .animated .fs-fininc1 , .animated .is-insrac1 , 
.animated .ib-investment1 , .animated .cu-cont1 { 
    -webkit-animation: slide-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/*---------  Slide - BOTTOM  --------------*/
@keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-350px);
        transform: translateY(-350px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
.animated .hm-brch-img2 , .hm-bnr-bx , .animated .hm-lnws2 , .animated .ab-team-tx , .animated .id-ourit2  {
    -webkit-animation: slide-bottom 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-bottom 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



/*---------  Slide - RIGHT_BOTTOM  --------------*/
@keyframes slide-tr {
    0% {
        -webkit-transform: translateY(100px) translateX(300px);
        transform: translateY(100px) translateX(300px);
    }
    100% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
    }
}
.animated .hm-brch-img1 , .animated .ab-wide-bx2 , .animated .src-servic-bx2 {
    -webkit-animation: slide-tr 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-tr 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



/*---------  Slide - LEFT_BOTTOM  --------------*/
@keyframes slide-tl {
    0% {
        -webkit-transform: translateY(-100px) translateX(-300px);
        transform: translateY(-100px) translateX(-300px);
    }
    100% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
    }
}

.animated .hm-brch-img3 , .animated .ab-wide-bx , .animated .src-servic-bx1  {
    -webkit-animation: slide-tl 0.88s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-tl 0.88s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



/*---------  IMG ANIMATION--------------*/

@keyframes tilt-in-top-1 {
    0% {
        -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
        transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
        transform: rotateY(0deg) translateY(0) skewY(0deg);
        opacity: 1;
    }
}

.animated .hm-serv-img , .animated .ab-img1{
    -webkit-animation: tilt-in-top-1 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: tilt-in-top-1 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/*---------  CIRCLE ANIMATION --------------*/
@keyframes bounce-in-right {
  0% {
    -webkit-transform: translateX(600px);
            transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(68px);
            transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(32px);
            transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

.animated .ab-wide-inner::before {
    -webkit-animation: bounce-in-right 1.1s both;
    animation: bounce-in-right 1.1s both;
}


/*---------  LEFT ANIMATION --------------*/
@keyframes tilt-in-left-2 {
    0% {
        -webkit-transform: rotateX(30deg) translateX(-300px) skewX(40deg);
        transform: rotateX(30deg) translateX(-300px) skewX(40deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
        transform: rotateX(0deg) translateX(0) skewX(0deg);
        opacity: 1;
    }
}
.animated .sr-sev-1 , .animated .rg-sr-img , .animated .all-lftx , .animated .id-ourit1 , .animated .hm-serv1 {
    -webkit-animation: tilt-in-left-2 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: tilt-in-left-2 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/*---------  RIGHT ANIMATION --------------*/
@keyframes tilt-in-right-2 {
    0% {
        -webkit-transform: rotateX(30deg) translateX(300px) skewX(-30deg);
        transform: rotateX(30deg) translateX(300px) skewX(-30deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
        transform: rotateX(0deg) translateX(0) skewX(0deg);
        opacity: 1;
    }
}
.animated .sr-sev-3 , .animated .lf-sr-img , .animated .all-rgtx , .animated .id-ourit3 , .animated .hm-serv2{
    -webkit-animation: tilt-in-right-2 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: tilt-in-right-2 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/*---------  BOTTOM IMG ANIMATION --------------*/
@keyframes swing-in-bottom-fwd {
    0% {
        -webkit-transform: rotateX(140deg);
        transform: rotateX(140deg);
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
        opacity: 1;
    }
}

.animated .sr-sev-2 , .animated .hm-serv3 , .animated .cu-conts-inner , .animated .hm-lnews-inner{
    -webkit-animation: swing-in-bottom-fwd 0.8s ease-in both;
    animation: swing-in-bottom-fwd 0.8s ease-in both;
}




}